<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="{%block meta_description%}{{blog.description}}{%endblock%}" />
  <title>{% block title %}{{ blog.name }}{% endblock %}</title>
  <link rel="stylesheet" href="{{root_path}}/{{blog.theme}}/static/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="{{root_path}}/{{blog.theme}}/static/css/{% block css_this_page %}{% endblock %}" type="text/css" />
</head>
<body>
  <!-- 800px width -->
  <div class="container">
    <div class="header">
      <h1><a href="{{root_path}}/">{{ blog.name }}</a></h1> {# blog's Name #}
      <h2>{{ blog.description }}</h2>
      <p class="nav separator">  {# navigation #}
      <span>
        <a href="{{root_path}}/">Home</a> ~
        <a href="{{root_path}}/tags.html">Tags</a> ~
        <a href="{{root_path}}/archives.html">Archives</a> ~
        <a href="{{root_path}}/about.html">About</a> ~
        <a href="{{root_path}}/feed.atom">Rss</a>
      </span>
      </p>
    </div>
    <p class="flourish"><img src="{{root_path}}/{{blog.theme}}/static/images/flourish.svg" height="60px" alt=""></p>
    <div class="content">
      {# this is the man content of some page#}
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer-push">
      {# stiky footer push http://ryanfait.com/sticky-footer/layout.css #}
    </div>
  </div>
  <div class="footer">
      © Copyright 2013 by {{author.name}} |
      blog powered by <a href="https://github.com/hit9/lilac">lilac</a> |
      theme by <a href="{{theme.author.url}}">{{theme.author.name}}</a>
  </div>
</body>
</html>
